.ion-icon{
	font-size: 36px;
	line-height: 48px;
	display: block;

}

.ak-breadcrumbs{
	list-style: none;
	padding-left: 0;

	li{
		display: inline-block;
		font: 700 14px/48px 'Montserrat', sans-serif;
		text-transform: uppercase;

		&:not(:first-child):before{
			content: "/";
			display: inline-block;
			padding: 0 6px 0 5px;
		}
	}
}

.ak-logo{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	-webkit-transition: color ease $transition;
	-moz-transition: color ease $transition;
	-ms-transition: color ease $transition;
	-o-transition: color ease $transition;
	transition: color ease $transition;

	&:hover{
		text-decoration: none;
		color: $color_green;
	}
}
.ak-title-wrapper{
	min-height: 190px;
}
.ak-title{
	font-size: 30px;
	line-height: 48px;
	position: relative;
	z-index: 1;
	margin-bottom: 16px;
	display: inline-block;

	&:before{
		content: "";
		display: block;
		position: absolute;
		background-color: $color_green;
		height: 21px;
		width: 70px;
		left: 0;
		bottom: -10px;
		top: 50%;
		z-index: -1;
	}
}

.ak-description{
	background-color: $color_green;
	text-transform: uppercase;
	color: #FFF;
	border: 2px solid $color_green;
	padding: 0 40px;
	display: inline-block;
	height: 30px;
	line-height: 26px;
}

.ak-button{
	@extend .ak-description;

	line-height: 46px;
	height: 50px;

	-webkit-transition: ease $transition;
	-moz-transition: ease $transition;
	-ms-transition: ease $transition;
	-o-transition: ease $transition;
	transition: ease $transition;
	-webkit-transition-property: color, background-color;
	-moz-transition-property: color, background-color;
	-ms-transition-property: color, background-color;
	-o-transition-property: color, background-color;
	transition-property: color, background-color;
	&:hover{
		background-color: #fff;
		text-decoration: none;
		color: $color_green;
	}
	&--thin{
		height: 30px;
		line-height: 26px;
	}
}
.p-lh30{
	line-height: 30px;
}

.ak-styled-list{
	list-style: none;
	padding-left: 0;
	margin: 30px 0;

	&--multi-columns{
		column-count: 2;
	}

	&__item{
		position: relative;
		line-height: 30px;
		padding-left: 30px;

		&:before{
			content: "";
			height: 12px;
			width: 12px;
			display: block;
			position: absolute;
			background: url(../img/check.jpg) 50% no-repeat;
			left: 0;
			top: 9px;
		}

	}
}

.ak-card{
	padding: 30px;
	border-top: 5px solid $color_green;
	-webkit-transition: box-shadow ease .3s;
	-moz-transition: box-shadow ease .3s;
	-ms-transition: box-shadow ease .3s;
	-o-transition: box-shadow ease .3s;
	transition: box-shadow ease .3s;
	position: relative;
	margin: 30px 0;

	&:hover{
		box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: 5px solid transparent;
		border-top: 5px solid $color_green;
		border-right: 5px solid $color_green;
	}
}


// mobile button


.dd-nav-icon {
	width: 30px;
	height: 20px;
	display: inline-block;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	position: relative;
	z-index: 9999999;
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #000;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}}
	.dd-nav-icon span:nth-child(1) {
		top: 0;
		width: 100%;
	}
	.dd-nav-icon span:nth-child(2),.dd-nav-icon span:nth-child(3) {
		top: 8px;
		width: 50%;
	}
	.dd-nav-icon span:nth-child(4) {
		top: 16px;
		width: 75%;
	}
	.dd-nav-icon.open span:nth-child(1) {
		top: 24px;
		width: 0;
		left: 50%;
	}
	.dd-nav-icon.open span:nth-child(2) {
		transform: rotate(45deg);
		width: 100%;
	}
	.dd-nav-icon.open span:nth-child(3) {
		transform: rotate(-45deg);
		width: 100%;
	}
	.dd-nav-icon.open span:nth-child(4) {
		top: 18px;
		width: 0;
		left: 50%;
	}
